<p><b><%= comment.submitter.username %></b> => <%= comment.content %></p>
<p><%= comment.updated_at || comment.created_at %></p>
<% if editor?  %>
  <p><%= link_to "Edit Comment", edit_comment_url(comment) %></p> 
<% end %>  

<p><%= link_to "Add Comment", new_comment_comment_url(comment) %></p>

<ul> 
  <% if @all_comments[comment.id] %>
    <% @all_comments[comment.id].each do |child|  %>
  
      <li><%= render "comments/comment", comment: child %></li>
  
    <% end %>
  <% end %>
</ul>

