<h1>Edit Comment</h1>

  <form action="<%= comment_url(@comment) %>" method="POST">
    
    <input type="hidden" name="_method" value="PATCH">
    
    <input 
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  
    <br>
  
    <textarea 
      rows="10" cols="100" 
      name="comment[content]">
      <%= @comment.content %>
    </textarea>

    <br><br> 
    
    <button>Edit Comment!</button>

</form>
  
<%= button_to "Delete Comment", comment_url(@comment), method: "delete" %>