<% if signed_in? %>
  <h3>New Comment</h3>

  <form action="<%= post_comments_url(@post) %>" method="POST">

    <input 
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  
    <input type="hidden" 
      name="comment[post_id]" 
      value="<%= @post.id  %>">

      <br>
      
    <input type="hidden" 
      name="comment[parent_comment_id]" 
      value="<%= @comment.parent_comment_id %>">

      
      <br>
  
    <textarea rows="10" cols="100" name="comment[content]"><%= @comment.content %> </textarea>

    <br><br> 
    
    <button>Comment!</button>

  </form>
  
<% end %>