<h3>Create Post</h3>

<form action="<%= sub_posts_url(@sub) %>" method="POST">
  <input 
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  
  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  
  </label>
  <label>Url
    
    <input type="text" name="post[url]" value="<%= @post.url %>"
  
  </label>
  <label>Content
    
      <textarea name="post[content]"><%= @post.content %> </textarea>
  
  </label>
  
  <button>Post!</button>
  
</form>
