<h1>Edit Sub</h1>

<form action="<%= sub_url(@sub) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  
  <input 
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  
  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  
  <label>Description
    <textarea name="sub[description]">
      <%= @sub.description %>
    </textarea>
  </label>
  
  <button>Edit Sub</button>
  
</form>

<br><br>

<%= button_to "Delete Sub", sub_url(@sub), method: "delete" %>