<h1>Create Sub</h1>

<form action="<%= subs_url %>" method="POST">
  
  <input 
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  
  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  
  <label>Description
    <textarea name="sub[description]">
      <%= @sub.description %>
    </textarea>
  </label>
  
  <button>Create Sub</button>
  
</form>