<h1><marquee><%= @sub.title %></marquee></h1>
<%= render "moderator_label" %>

<p>Description:</p>
<p><%= @sub.description %></p>

<%= render partial: "post_form" %>
<%= render partial: "posts_index" %>




