<% if editor? %>

  <%= "Hi #{current_user.username}! You are authorized to edit this post" %>

  <h3>Edit Post</h3>

  <form action="<%= post_url(@post) %>" method="POST">
   
    <input type="hidden" name="_method" value="PATCH">
    
    <input 
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  
    <label>Title
      <br>
      
      <input type="text" name="post[title]" value="<%= @post.title %>">
    </label>
    
    <br><br>
    
    <label>Url
      <br>
      
      <input type="text" name="post[url]" value="<%= @post.url %>"
    </label>
   
    <br><br>
    
    <label>Content
      <br>
      
        <textarea name="post[content]"><%= @post.content %> </textarea>
    </label>
  
    <br><br>
    
    <button>Edit Post!</button>
  
  </form>
  
  <br><br>
  
  <%= button_to "Delete Post", post_url(@post), method: "delete" %>

  
<% end %>
