<h1><%= @post.title %></h1>
<p><a href="http://<%= @post.url %>"><%= @post.url %></a></p>
<p><%= @post.content %></p>

<%= render "editor" %>

<br><br>
<%= link_to "Post Comment", new_post_comment_url(@post)  %>

<ul>
  <% @all_comments[nil].each do |comment| %>
    <li>
      <%= render comment %>
    </li>
    
  <% end %>
</ul>