<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% unless flash[:errors].nil? %>
     
      <% flash[:errors].each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      
    <% end %>
    
    <% if signed_in? %>

      <%= current_user.username %>
      <%= button_to "Sign Out", session_url, method: "delete" %>
      
      <%= link_to "Create Sub", new_sub_url %>
      <%= link_to "Subs Index", subs_url %>
      
      
    <% else %>
      <%= link_to "Sign Up", new_user_url %>
      <%= link_to "Sign In", new_session_url %>
    
    <% end %>

    <%= yield %>

  </body>
</html>
